/* Soluzione qui */
@media (min-width: 768px) {
    #logo{
        text-align: left;
    }
    main{
        padding: 20px;
    }
    .recipe-origin{
        display: inline-block;
    
    }
    .recipe-name{
        font-size: 30px;

    }
    .quick-notes{
        display: flex;
    }
    .quick-notes li{
        display: grid;
        direction: ;
    }

}
